.css_id_det_label {text-align: right;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: right;}
.css_iniciador_det_label {text-align: right;vertical-align: middle;}
.css_iniciador_det_line {height:0px;text-align: right;}
.css_sac_det_label {text-align: right;vertical-align: middle;}
.css_sac_det_line {height:0px;text-align: right;}
.css_nombre_proceso_det_label {text-align: right;vertical-align: middle;}
.css_nombre_proceso_det_line {height:0px;text-align: right;}
.css_fecha_apertura_det_label {text-align: right;vertical-align: middle;}
.css_fecha_apertura_det_line {height:0px;text-align: right;}
.css_fecha_cierre_det_label {text-align: right;vertical-align: middle;}
.css_fecha_cierre_det_line {height:0px;text-align: right;}
.css_numero_parte_det_label {text-align: right;vertical-align: middle;}
.css_numero_parte_det_line {height:0px;text-align: right;}
.css_clausula_iso_det_label {text-align: right;vertical-align: middle;}
.css_clausula_iso_det_line {height:0px;text-align: right;}
.css_descrip_problema_det_label {text-align: right;vertical-align: middle;}
.css_descrip_problema_det_line {height:0px;text-align: right;}
.css_contencion_det_label {text-align: right;vertical-align: middle;}
.css_contencion_det_line {height:0px;text-align: right;}
.css_causa_raiz_det_label {text-align: right;vertical-align: middle;}
.css_causa_raiz_det_line {height:0px;text-align: right;}
.css_imp_acc_correc_det_label {text-align: right;vertical-align: middle;}
.css_imp_acc_correc_det_line {height:0px;text-align: right;}
.css_responsable_det_label {text-align: right;vertical-align: middle;}
.css_responsable_det_line {height:0px;text-align: right;}
.css_fecha_compro_det_label {text-align: right;vertical-align: middle;}
.css_fecha_compro_det_line {height:0px;text-align: right;}
.css_fehca_real_det_label {text-align: right;vertical-align: middle;}
.css_fehca_real_det_line {height:0px;text-align: right;}
.css_aut_int_ext_det_label {text-align: right;vertical-align: middle;}
.css_aut_int_ext_det_line {height:0px;text-align: right;}
.css_proces_det_label {text-align: right;vertical-align: middle;}
.css_proces_det_line {height:0px;text-align: right;}
.css_acc_correc_det_label {text-align: right;vertical-align: middle;}
.css_acc_correc_det_line {height:0px;text-align: right;}
