.css_iniciador_label { }
.css_iniciador_line { }
.css_iniciador_obj { }
.css_sac_label { }
.css_sac_line { }
.css_sac_obj { }
.css_nombre_proceso_label { }
.css_nombre_proceso_line { }
.css_nombre_proceso_obj { }
.css_fecha_apertura_label { }
.css_fecha_apertura_line { }
.css_fecha_apertura_obj { }
.css_fecha_cierre_label { }
.css_fecha_cierre_line { }
.css_fecha_cierre_obj { }
.css_numero_parte_label { }
.css_numero_parte_line { }
.css_numero_parte_obj { }
.css_clausula_iso_label { }
.css_clausula_iso_line { }
.css_clausula_iso_obj { }
.css_descrip_problema_label { }
.css_descrip_problema_line { }
.css_descrip_problema_obj { }
.css_contencion_label { }
.css_contencion_line { }
.css_contencion_obj { }
.css_causa_raiz_label { }
.css_causa_raiz_line { }
.css_causa_raiz_obj { }
.css_imp_acc_correc_label { }
.css_imp_acc_correc_line { }
.css_imp_acc_correc_obj { }
.css_responsable_label { }
.css_responsable_line { }
.css_responsable_obj { }
.css_fecha_compro_label { }
.css_fecha_compro_line { }
.css_fecha_compro_obj { }
.css_fehca_real_label { }
.css_fehca_real_line { }
.css_fehca_real_obj { }
